<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-fragment="header">
<head>
    <title>黑马博彩</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--导入jquery的文件-->
    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--自定义JS-->
    <script th:src="@{/js/lottery.js}"></script>
    <!--自定义样式-->
    <link rel="stylesheet" th:href="@{/css/lottery.css}"/>
</head>

</body>
</html>