<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:replace="~{common/header :: header}">...</div>
<!--布局容器-->
<div class="container-fluid">

    <!--1.标题部分-->
    <div class="row title">
        <div class="col-xs-12">
            注册
        </div>
    </div>

    <div class="row" style="margin-top: 32px;">
        <!--空列-->
        <div class="col-xs-1"></div>
        <!--内容部分-->
        <div class="col-xs-10">
            <!--2.登录注册的标题-->
            <div class="row">
                <div class="col-xs-6 text-center" onclick="location.href='/user/loginUI'">登录</div>
                <div class="col-xs-6 text-center" style="color: green;">注册</div>
            </div>

            <!--3.水平分割线-->
            <hr/>

            <div style="color: red">

            </div>

            <form action="/user/register" method="post">
                <!--4.邮箱-->
                <div class="form-group">
                    <input type="text" name="email" class="form-control"
                           placeholder="请输入您的邮箱...">
                </div>
                <!--5.密码-->
                <div class="form-group">
                    <input type="password" name="password" class="form-control"
                           placeholder="请输入您的密码...">
                </div>
                <!--6.昵称-->
                <div class="form-group">
                    <input type="text" name="username" class="form-control"
                           placeholder="请输入您的昵称...">
                </div>

                <!--7.验证码-->
                <div class="row">
                    <div class="col-xs-7">
                        <div class="form-group">
                            <input type="text" name="mobile" id="input_mobile" class="form-control"
                                   placeholder="请输入您的手机号...">
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <!--<button type="button">发送</button>-->
                        <input type="button" class="btn btn-default" value="发送验证码" id="btnSend"/>
                        <script>
                            $("#btnSend").click(function () {
                                var mobile = $("#input_mobile").val();
                                var url = "/user/sendSMS";
                                $.get(url, {mobile: mobile}, function (data) {
                                    console.log(data);
                                })
                            });
                        </script>
                    </div>
                </div>

                <!--8.填写验证码-->
                <div class="form-group">
                    <input type="text" name="code" class="form-control" placeholder="请输入验证码...">
                </div>

                <!--9.注册-->
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success" value="注册">
                </div>
            </form>
            <!--跳转去登录-->
            <div style="margin-top: 15px;">
                已有账号?&nbsp;|&nbsp;
                <a href="/user/loginUI" style="color: green;">去登录</a>
            </div>
        </div>
        <!--空列-->
        <div class="col-xs-1"></div>
    </div>

</div>
</body>

</html>