<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:replace="~{common/header :: header}">...</div>
<!--布局容器-->
<div class="container-fluid">

    <!--1.标题部分-->
    <div class="row title" id="title">
        <div class="col-xs-12">
            <div style="position: absolute;" onclick="history.back()">&lt;返回</div>
            选号
        </div>
    </div>

    <div class="row text-center" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-xs-4" style="padding-left: 0;">第2018019期</div>
        <div class="col-xs-8" style="padding-left: 0;padding-right: 0;">
            奖池<span style="color: red;">4亿1523万</span>,可开出<span style="color: red;">83注</span>500万
        </div>
    </div>

    <div style="color:darkgray">请选择6个红球,1个蓝球</div>

    <!--红球区域-->
    <div class="row">
        <div class="col-xs-ball">
            <div class="ball-item ball-red">01</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">02</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">03</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">04</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">05</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">06</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">07</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">08</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">09</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">10</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">11</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">12</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">13</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">14</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">15</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">16</div>
        </div>

        <div class="col-xs-ball">
            <div class="ball-item ball-red">17</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">18</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">19</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">20</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">21</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">22</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">23</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">24</div>
        </div>

        <div class="col-xs-ball">
            <div class="ball-item ball-red">25</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">26</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">27</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">28</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">29</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">30</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">31</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-red">32</div>
        </div>

        <div class="col-xs-ball">
            <div class="ball-item ball-red">33</div>
        </div>
    </div>

    <!--清除浮动-->
    <div class="clearfix"></div>

    <!--蓝球区域-->
    <div style="margin-top: 20px;" class="row">
        <div class="col-xs-ball">
            <div class="ball-item ball-blue ">01</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">02</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">03</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">04</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">05</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">06</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">07</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">08</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">09</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">10</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">11</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">12</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">13</div>
        </div>
        <div class="col-xs-ball">
            <div class="ball-item ball-blue">14</div>
        </div>

        <div class="col-xs-ball">
            <div class="ball-item ball-blue">15</div>
        </div>

        <div class="col-xs-ball">
            <div class="ball-item ball-blue">16</div>
        </div>
    </div>

    <!--清除浮动-->
    <div class="clearfix"></div>

    <!--添加的按钮-->
    <div style="margin-top: 10px;">
        <input type="button" onclick="addOne()" value="添加" class="btn btn-success pull-right"/>
    </div>

    <!--清除浮动-->
    <div class="clearfix"></div>

    <!--机选幸运号的按钮-->
    <div style="margin-top: 10px;">
        <input type="button" value="机选幸运号" id="btn_random" class="btn btn-danger pull-right"/>
        <select id="selectId" class="form-control pull-right"
                style="width: 60px;display: inline-block;">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>

    </div>

    <!--主要是解决页面显示不完整-->
    <div style="margin-bottom: 58px;height: 58px;"></div>

    <!--5.底部菜单栏-->
    <script>
        function gotoCart() {
            location.href = "/cart/cartUI";
        }
    </script>
    <div class="menu">
        <div class="col-xs-6 menu-item" onclick="gotoCart()">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cartSizeId" class="badge"
                  style="background-color: red;position: absolute;top: -10px"></span>
            <p>购物车</p>
        </div>
        <div class="col-xs-6 menu-item">
            <span class="glyphicon glyphicon-save"></span>
            <p>立即投注</p>
        </div>

    </div>

</div>
</body>

</html>